body {
    font-family: 'Raleway', sans-serif;
}
.home {
    text-align: center;
}
.form_flex {
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    gap: 10px;
}
.input {
    padding: 4px;
}
.btn {
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: orange;
    padding: 5px 0px;
}